body{
    text-align: center;
    margin-top:auto;  
    background-color:rgb(87, 85, 86);
}

.noc{
    
    font-size: 18px;
    color:black;
    text-align:center;
    background-color: rgb(244, 199, 199);
    border-radius: 20px;
    
}

.outerContainer{
    background-color:rgb(251, 246, 226);
    text-align:center;
    background-size:30px;
    margin:45px;
    padding: 35px;
    border-radius: 25px;
    
}

.result{
    font-size: 20px;
    text-align:center;
    width:210px;
    height: 35px;
    margin-top:15px;
    margin-bottom:5px;
    border-radius: 13px;
}

button{
    color:#040404;
    font-size:15px;
    cursor:pointer;
    width:45px;
    height:45px;
    margin:3px;
    padding:3px;
    text-align: center;
    background-size:50px;
    background-color: rgb(227, 225, 222);
    border-radius:10px;
    text-shadow: 0.5px 0.5px 0.5px black;
    
}

.button0{
    width:100px;
    height:45px;
    border-radius:18px;
}

.innercontainer{
    text-align: center;
    background:fixed;    
}

.rowsb{
    margin-bottom: 5px;
}

button:hover{
    background-color: #898787;
}

.maincontainer{
    background-color:rgb(218, 245, 208);
    border-radius:15px;
    margin-left: 410px;
    margin-right: 410px;
    margin-top:16px;    
}